.image{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}
.image img{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 10px 10px 10px black;
}
.content{
  margin-top: 10%;
  width: 90%;
}
.content strong{
  font-size: 35px;
  bottom: 50px;
  font-family: 'Poppins', sans-serif;
}
.content p{
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
.content img{
  margin-top: 20px;
}
.rating{
  display: flex;
  flex-direction: row;
}

.button-checkout{
  margin-top: 12%;
}
.button-checkout button{
  width: 100%;
  height: 35px;
  background-color: greenyellow;
  /* border: transparent; */
  font-size: 24px;
  font-weight: bold;
}
.best-seller{
  width: 70%;
  height: 25px;
  color: orange;
  background-color: rgba(0, 0, 0, 0.649);
  font-size: 24px;
  padding: 10px;
}
.best-seller-box{
  margin-top: 40px;
}
