.banner-image{
  background-image: url(../../../assets/kidslearning.jpg);
  width: 80%;
  height: 420px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-size: cover;

  filter: brightness(50%) contrast(100%);
  -webkit-filter: brightness(50%) contrast(100%);
}
select{
  width: 250px;
  height: 45px;
  border: 1px solid gray;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}
option{
  height: 30px;
}
.product-filter-list{
  margin-left: 10%;
  margin-right: 10%;
}
input{
  width: 250px;
  height: 45px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn-filter{
  background-color: rgb(86, 86, 240);
  width: 120px;
  height: 45px;
  margin-top: 20px;
  margin-left: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 5px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn-filter-reset{
  background-color: rgb(255, 60, 0);
  width: 120px;
  height: 45px;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 5px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.products-list{
  margin-left: 10%;
  margin-right: 10%;
}


.btn-navigate{
  width: 140px;
  height: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.616);
}
.next{
  float: right;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
}
.title-banner{
  margin-left: 10%;
  margin-right: 10%;
  position: absolute;
  margin-top: -85px;
  color: white;
  font-size: 35px;
}
button .arrow{
  rotate: 0deg;
}
button .arrow-desc{
  rotate: -900deg;
}
img{
  margin: 0 auto;
  color: white;
}
.snackbar-succes{
  background-color: green;
  color: white;
}
.snackbar-error{
    background-color: red;
    color: white;
}
.text-teacher{
  font-size: 10px;
  color: gray;
}
.text-description{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.582);
}
.rating{
  display: flex;
  flex-direction: row;
  width: 30px;
  margin-top: -10px;
  margin-left: 10px;
}
.views{
  position: absolute;
  margin-left: 120px;
}
.hours{
  margin-top: 10px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.479);
}
.label{
  position: absolute;
}
.label-hot{
  float: left;
}
.hours-content{
  margin-bottom: 30px;
}
.image-star {
  display: flex;
  flex-direction: row;
}
.snackbar-error{
  background-color:red;
  color: white
}
