input {
  width: 250px;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
input:focus {
  outline: none;
}
.btn-search {
  background-color: blue;
  border-radius: 5px;
  width: 30px;
  height: 35px;
  padding: 5px;
  position: absolute;
  margin-left: 10px;
}
.btn-search button{
  margin-top: 10px;
}
.ring{
  margin-left: 30px;
}
